@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    pointer-events: auto;
}

/* media queries for header  */

@media screen and (max-width : 640px) {
  .header {
    padding-top: 60px;
  }
  .pricing {
    margin-top: 60px;
  }
  .pricing-login {
    margin-top: 8px;
  }
}